/**
 * SASS Core
 * @author Ignacio Ricci <ignacio.ricci@gmail.com>
 * @based on: Eric Meyer's Reset
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, em, img, ins, q, s,
small, strong, sub, sup,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, audio, canvas,
datalist, details, dialog, figure, footer,
header, mark, menu, meter, nav, main, output, article,
progress, section, time, video,
:before,
:after  {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin:0;
  padding:0;
  border:0;
  vertical-align:baseline;
}

blockquote, q {
  quotes:none;
}

input:focus,
textarea:focus {
  outline:0;
}

blockquote:before,
blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

button, input, select, textarea {
  font-family:inherit;
  background:none;
  outline:0;
}

/* remember to highlight inserts somehow!*/
ins {
  text-decoration:none;
}

del {
  text-decoration:line-through;
}

/* tables still need 'cellspacing="0"' in the markup*/
table {
  border-collapse:collapse;
  border-spacing:0;
}

li {
  list-style:none;
}

main, section, header, footer, article, aside {
  display:block;
}